@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

.cabecalho {

    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.img-lg {
    width: 100px;
}

.ulista li {
    list-style: none;
}

.ulista {
    display: flex;
    gap: 15px;
}

.ulista li a {
    text-decoration: none;
    color: bisque;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Pinyon Script", cursive;
}

.pinyon-script {
    font-family: "pinyon script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-section-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: bisque;
    padding: 40px;
    gap: 60px;
}

.div-2 p {
    color: bisque;
    font-size: 32px;
    margin-left: 30px;
    text-align: center;
}

span {
    color: bisque;
    font-size: 60px;
}

.section-2 {
    background-color: bisque;
    padding: 20px;
    color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    font-size: 30px;
    color: bisque;
}

.paragrafo-section-2 h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.paragrafo-section-2 p {
    font-size: 25px;
}

.elite-titulo {
    font-size: 30px;
    font-family: "notable", sans-serif;
    display: flex;
    color: bisque;
}

.span {
    color: bisque;
}

.section-3 {
    background-image: url(imagens/Gemini_Generated_Image_cxg48hcxg48hcxg4.png);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom ;
background-attachment: fixed;
padding: 100px;
display: flex;
al
}